<!-- _includes/media.html -->
<div class="card-item col">
    <div class="card hoverable">
      <div class="row g-0">
        {%- if media.img %}
        {%- include figure.html
          path=media.img
          alt="media thumbnail" -%}
        {%- endif %}
        <div class="col-md-12">
          <div class="card-body">
            <a href="{{ media.url | relative_url }}"><h3 class="card-title">{{media.title}}</h3></a>
            <p class="card-text">
                    {%- if media.links -%}
                    <ul>    
                        {%- for link in media.links -%}
                        <li><a href="{{ link.url }}" target="_blank" rel="noopener" class="media-link">"{{link.name}}", <i>{{link.publisher}}</i>, {{link.date}}.</a></li>
                    {%- endfor -%}
                    </ul>
                    {%- endif -%}
                </p>
            </div>
        </div>
      </div>
    </div>
</div>
