<!-- _includes/media.html -->
<div class="grid-sizer"></div>
<div class="grid-item">
    <div class="card hoverable">
        {%- if media.img %}
        {%- include figure.html
          path=media.img
          alt="media thumbnail" -%}
        {%- endif %}
        <div class="card-body">
          <h2 class="card-title">Paper: {{ media.title }}</h2>
                <p class="card-text">
                    {%- if media.links -%}
                    <ul>    
                        {%- for link in media.links -%}
                        <li><a href="{{ link.url }}" target="_blank" rel="noopener" class="media-link">{{ link.name }}</a></li>
                    {%- endfor -%}
                    </ul>
                    {%- endif -%}
                </p>
        </div>
    </div>
</div>