
          <div class="publications">
            {%- if page.selected_keys -%}
              {%- for key in page.selected_keys -%}
                {% bibliography -f {{ site.scholar.bibliography }} --group_by none --query @*[key={{ keys_string }}]* --sort_by year,month --order ascending %}
              {%- endfor -%}
            {%- else -%}
              {% bibliography -f {{ site.scholar.bibliography }} --group_by none --query @*[selected=true]* --sort_by year,month --order ascending %}
            {%- endif -%}
          </div>
